* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  line-height: 2;
}

.backdrop {
  display: none;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.side-menu {
  display: none;
  position: fixed;
  z-index: 100;
  width: 20vw;
  height: calc(100vh - 80px);
  right: 0;
  bottom: 0;
  background-color: rgb(37, 37, 37);
}

.side-menu__list {
  margin-top: 3rem;
  list-style: none;
  padding-left: 3rem;
}

.side-menu__item {
  border-top: 1px solid #e8c9b4;
  padding-bottom: 3rem;
  padding-top: 0.5rem;
}

.side-menu__item a {
  text-decoration: none;
  color: #e8c9b4;
  font-size: 1rem;
}

.main-header {
  height: 80px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: black;
}
.main-contents {
  color: white;
  padding-top: 52px;
}

.image-container {
  width: 100%;
  height: 80vh;
  background-image: url("/asset/phone-background.png");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  display: flex;
  line-height: 2;
}

.division-60 {
  width: 60%;
  position: relative;
  color: #e8c9b4;
}

.division-60-contents {
  position: absolute;
  top: 5%;
  left: 10%;
}

.division-60-contents h1 {
  font-family: "Andika New Basic", sans-serif;
  font-size: 3rem;
}

.division-60 .circle-button-list {
  position: absolute;
  bottom: 5%;
  right: 0;

  width: 250px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.division-60 .circle-button__item {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.gray-button {
  background: rgb(77, 76, 76);
}

.white-button {
  background: white;
}

.gold-button {
  background: #e8c9b4;
}

.division-40 {
  width: 40%;
}

.division-60 div p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: rgb(185, 183, 183);
}

.learn-button {
  padding: 10px;
  border-radius: 20px;
  background: none;
  color: #e8c9b4;
  border: 2px solid #e8c9b4;
  cursor: pointer;
}

.learn-button:hover {
  background-color: #e8c9b4;
  color: black;
}

.specific-button:focus {
  outline: none;
}

.main-footer {
  color: white;
}

.logo {
  padding-left: 10px;
  color: #ccc;
}

.hamberger {
  padding-right: 10px;
  cursor: pointer;
}

.hamberger-item {
  border: 1px solid #e8c9b4;
  margin: 5px 0px;
  width: 20px;
}

.part-container {
  margin: 5rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.for-line {
  border-top: 1px solid #e8c9b4;
  height: 0px;
  width: 45%;
}

.part {
  color: #e8c9b4;
}

.part-one-container {
  margin: 2rem 2rem;
  height: 60vh;
  display: flex;
}

.part-one-image1,
.part-one-image2 {
  width: 50%;
  height: 100%;
}

.image-one,
.image-two {
  width: 100%;
  height: 75%;
  background-size: cover;
  background-repeat: none;
  text-align: center;
}

.image-one {
  background-image: url("./image/part-one-image1.jpg");
}

.image-two {
  background-image: url("./image/part-one-image2.jpg");
}

.text-container {
  position: relative;
  top: 40%;
}

.text-container h3 {
  color: #ccc;
}

.view-more-button {
  margin-top: 1.5rem;
  background: none;
  border: none;
  font-weight: bold;
  color: #ccc;
  cursor: pointer;
}

.view-more-button:focus {
  outline: none;
}

.empty {
  width: 100%;
  height: 25%;
}

.part-two-image-container {
  height: 60vh;
  text-align: center;
}

.part-two-image-container img {
  width: 50vh;
  height: 50vh;
}

.part-three-image-container {
  display: flex;
  justify-content: space-around;
  height: 60vh;
}

.part-three-image-container > div {
  width: 30%;
  height: 100%;
  text-align: center;
}

.part-three-image1,
.part-three-image2,
.part-three-image3 {
  width: 100%;
  height: 80%;
  background-size: cover;
  background-repeat: none;
  background-position: center;
}

.part-three-image1 {
  background-image: url("./image/part-three-image1.jpg");
}
.part-three-image2 {
  background-image: url("./image/part-three-image2.jpg");
}
.part-three-image3 {
  background-image: url("./image/part-three-image3.jpg");
}

.lorem-comment {
  margin-top: 1rem;
}

.part-four-image-container {
  width: 80%;
  margin: 0 auto;
  height: 60vh;
  display: flex;
  justify-content: space-around;
}

.part-four-image1 {
  width: 30%;
  background-repeat: none;
  background-size: cover;
  background-position: bottom right;
  background-image: url("./image/part-four-image.jpg");
}

.part-four-contents {
  width: 60%;
}

.part-four-contents h2 {
  color: #ccc;
}

.part-four-contents p {
  color: #e8c9b4;
  margin: 1rem 0;
}
